<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.noxlogic.games.puzzlechess"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="7" />
      
    <application android:name=".MyApp"
                 android:label="@string/app_name" 
                 android:debuggable="true" 
                 android:icon="@drawable/wn">
    	<activity
        	android:name=".PuzzleChess"
        	android:label="puzzlechess"
        	android:screenOrientation="portrait">
    	</activity>
    	
    	
    	
	<!--  We need to upgrade to SDK 1.6 and we can support larger screens -->
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />     
        
        <activity android:name="Main"
                  android:label="PuzzleChess">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest> 